$ cat .gitignore
*.idea*
*.gif
*.npz
*.pth
*.iml
*.xml
*.ini
*.bmp
*.pyc
*.pt
*.zip
*.xls
*.h5
*video*
*modelnet40_ply_hdf5_2048*
**/PartAnnotation*
*hdf5_data*
*test_results*
*.pyc
*.pt
*models*

# ignore folder
# **/checkpoint
# **/__pycache__
# **/record



*.metadata/
.settings/
*.bin/
*__pycache__/
*.project
*.pydevproject
*.mtb
*.log
*.asv
*.jpg
*.jpeg
*.png
*.emf
*.fig
*.png
*.mat
!*gregnet.mat
*.eps
*.avi
*.mp4
*.zip
*.7z
ImuMcuCapture/Objects
*.uvguix.Kuangen
*.uvoptx
*.uvprojx
*.map
*.user
*.h5
*.obj
*.ply
*.pdf
*.gz
*.tar
*.npy
*events.*
*dataset*
*log*
*exp_results*
*.csv
*train_results*
*PartAnnotation/
*hdf5_data/
*data/
*ckpt*
